/* ./src/styles/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://github.com/sindresorhus/github-markdown-css/issues/76 */
/* https://github.com/hyrious/github-markdown-css
/* https://cdn.jsdelivr.net/gh/hyrious/github-markdown-css/github-markdown.css */

html {
  background-color: #f6f6f6;
}

@layer base {
  h1 {
    @apply text-3xl;
    @apply mb-5;

  }
  h2 {
    @apply text-2xl;
    @apply mb-4;
  }

  h3 {
    @apply text-lg;
    @apply mb-3;
    @apply font-medium;
  }
  p {
    @apply mb-4;

  }
  a {
    @apply underline;
  }
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  padding: 45px;
}

.markdown-body img {
  display: inline;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
